img {
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: left;
    
    

}

a {
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 200px;
    width: 200px;
    
    
}