
header {
    color: aqua;
    float: left;
    font-size: 50px;

    

}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    font-size: 80px;
    color: aqua; 
    font-style: italic;
    -webkit-text-stroke: 5.5px black;
    paint-order: stroke fill;
    background-color: red;

}

section {
    margin-top: 55px;
    margin-left: 100px;
    width: 300px; 
    height: 420px; 
    background-color: black;
    border-color: red;
    border-width: 5px;
    border-style: solid;
    color: white;
}

p {
    display: flex;
    margin-top: -45px;
    justify-content: center;
    font-size: 25px;
    -webkit-text-stroke: 3px blue;
    paint-order: stroke fill;
}


text {
    display: flex;
    margin-top: -15px;
    justify-content: center;
    font-size: 15px;
    
    
}

r {
    display: flex;
    justify-content: center;
    -webkit-text-stroke: 2px red;
    paint-order: stroke fill;
    font-size: 20px;

}

b {
    display: flex;
    justify-content: center;
    color: yellow;
}